@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")



@{
    var info = new SimplisityInfo();
    var articleRowData = (ArticleLimpet)Model.List.First();
    if (articleRowData.Info != null)
    {
        info = articleRowData.Info;
    }
    var sessionParams = (SessionParams)Model.SessionParamsData;
}

<div id="articleeditrow" class='w3-display-container w3-animate-opacity simplisity_panel'>

    <div id="articleeditrowcontent" class=''>

        <div class="w3-row w3-padding">
            <div class="w3-col m2 w3-button rocket-buttonbar w3-khaki simplisity_click" s-before="closerowdisplay" s-cmd="articleadmin_editarticle" s-return=".articlepopup" s-fields='{"articleid":"@articleRowData.ArticleId","track":"false"}'>@ButtonText(ButtonTypes.back)</div>
            <div class="w3-col m2 w3-button rocket-buttonbar w3-green savearticlerowbutton simplisity_click" s-list=".@articleRowData.ImageListName,.@articleRowData.DocumentListName,.@articleRowData.LinkListName" s-cmd="articleadmin_updaterow" s-post="#articlerowdatasection" s-return=".articlepopup" s-fields='{"articleid":"@articleRowData.ArticleId","articlerowref":"@articleRowData.Ref"}'>@ButtonText(ButtonTypes.save)</div>

            @if (articleRowData.Ref != "")
            {
                <div class="w3-col m2 w3-button rocket-buttonbar w3-red simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete","","confirm")"  s-return=".articlepopup" s-cmd="articleadmin_deleterow" s-fields='{"articleid":"@articleRowData.ArticleId","articlerowref":"@articleRowData.Ref"}'>@ButtonText(ButtonTypes.delete)</div>
            }


            @if (Model.GetSettingBool("saved"))
            {
                <i class='fas fa-save w3-right simplisity_fadeout' style="font-size:24px"></i>
            }

        </div>

        <div id="articlerowdatasection" class="">
            @HiddenField(info, "genxml/hidden/articlerowref", "", GeneralUtils.GetGuidKey())
            <!-- The Detail-->
            <div id="detailDisplay" class="w3-container">

                <div class='w3-row'>
                    <div class="w3-col m6 w3-padding">
                        <label>@ResourceKey("RC.title")</label>
                        @TextBox(info, "genxml/textbox/title", " class='w3-input w3-border' autocomplete='off' ", "", false, 0)
                    </div>
                    <div class="w3-col m3 w3-padding">
                        <label class="">@ResourceKey("RC.show")&nbsp;</label><br/>
                        @CheckBox(info, "genxml/checkbox/showtitle", "", " class='w3-check' ", false)
                    </div>
                </div>

                <div class='w3-row w3-padding'>

                    <div class="w3-col m12 w3-theme-l3 w3-margin-top">
                        <div class="w3-bar-item w3-button tablink htmltexttablink" onclick="openSection('htmltext')">@ResourceKey("RC.html")</div>
                        <div class="w3-bar-item w3-button tablink imgstablink" onclick="openSection('imgs');">@ResourceKey("DNNrocket.images")</div>
                        <div class="w3-bar-item w3-button tablink textstablink" onclick="openSection('texts');">@ResourceKey("RC.text")</div>
                        <div class="w3-bar-item w3-button tablink docstablink" onclick="openSection('docs');">@ResourceKey("DNNrocket.documents")</div>
                        <div class="w3-bar-item w3-button tablink linkstablink" onclick="openSection('links');">@ResourceKey("DNNrocket.links")</div>
                    </div>

                    <div id="htmltext" class='w3-row sectionname' style="display:none">
                        <div class='w3-col m12 w3-padding'>
                            @EditFlag(sessionParams)
                            @CKEditor(info, "genxml/lang/genxml/textbox/richtext")
                        </div>
                    </div>

                    <div id="texts" class='w3-row sectionname' style="display:none">
                        <div class='w3-col m12 w3-padding '>
                            @TextArea(info, "genxml/textbox/text", "rows='6' onkeyup='textAreaAdjust(this);' style='width:100%;overflow:hidden;' ", "", false, 0)
                        </div>
                    </div>

                    <div id="imgs" class='w3-row sectionname' style="display:none">
                        <div class='w3-col m12 w3-padding '>
                            @RenderTemplate("articleimagesText.cshtml", "/DesktopModules/RocketThemes/RocketCatalog/", "Documentation", Model, "1.0", true)
                            @RenderTemplate("articleImageSelect.cshtml", "/DesktopModules/DNNrocketModules/RocketCatalog/", "config-w3", Model, "1.0", true)
                        </div>
                    </div>

                    <div id="docs" class='w3-row sectionname' style="display:none">
                        <div class='w3-col m12 w3-padding '>
                            @RenderTemplate("articledocuments.cshtml", "/DesktopModules/DNNrocketModules/RocketCatalog/", "config-w3", Model, "1.0", true)
                            @RenderTemplate("articledocumentSelect.cshtml", "/DesktopModules/DNNrocketModules/RocketCatalog/", "config-w3", Model, "1.0", true)
                        </div>
                    </div>

                    <div id="links" class='w3-row sectionname' style="display:none">
                        <div class='w3-col m12 w3-padding '>
                            @RenderTemplate("articlelinks.cshtml", "/DesktopModules/DNNrocketModules/RocketCatalog/", "config-w3", Model, "1.0", true)
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div>
            <i>ID: </i> @articleRowData.ArticleId
        </div>

    </div>

</div>


<script>
    $(document).ready(function () {

        var sectionName = simplisity_getCookieValue('sectionName');
        if ((typeof sectionName === 'undefined') || sectionName === '') {
            sectionName = 'htmltext';
        }
        openSection(sectionName);

        $('#summary').trigger('onkeyup');
        $('#text').trigger('onkeyup');

        $('.articleprocess').hide();
        $('.articlepopup').css('height', 'auto');
        $('.articlemodel').show();


        // adjust so we get correct height
        $('#summary').trigger('onkeyup');
        $('#text').trigger('onkeyup');

    });


    function openSection(sectionName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("sectionname");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        $(".tablink").each(function (index) {
            $(this).removeClass('w3-theme-d5');
        });

        document.getElementById(sectionName).style.display = "block";

        $('.' + sectionName + 'tablink').addClass('w3-theme-d5');

        simplisity_setCookieValue('sectionName', sectionName);

        // so the hidden one gets adjusted
        $('#summary').trigger('onkeyup');
        $('#text').trigger('onkeyup');

    }

    function languageChange() {
        $('.langchangesave').trigger("click");
    }

    function closerowdisplay() {
        // stop flicker on screen from redisplay content in model (Probably a better way to do this)
        $('.articlepopup').height($('.articlepopup').height())
        $('.articlemodel').hide();
        $('.articleprocess').show();
    }

</script>



