@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")



@{
    var info = new SimplisityInfo();
    var articleData = (ArticleLimpet)Model.List.First();
    if (articleData.Info != null)
    {
        info = articleData.Info;
    }
    var portalCatalog = new PortalCatalogLimpet(articleData.PortalId, DNNrocketUtils.GetEditCulture());
    var appThemeSystem = new AppThemeSystemLimpet(portalCatalog.SystemKey);
    var sessionParams = Model.SessionParamsData;

}

<div id="articleedit" class="w3-display-container">

    <div id="articleeditcontent" class='w3-animate-opacity '>

        <div class="w3-row w3-padding">
            <div class="w3-col m2 w3-button rocket-buttonbar w3-green simplisity_click savearticlebutton langchangesave" s-cmd="articleadmin_savedata" s-post="#articledatasection" s-return=".articleeditpopup" s-fields='{"articleid":"@articleData.ArticleId"}'>@ButtonText(ButtonTypes.save)</div>
            <div class="w3-col m2 w3-button rocket-buttonbar w3-red simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete","","confirm")" s-cmd="articleadmin_delete" s-fields='{"articleid":"@articleData.ArticleId"}'>@ButtonText(ButtonTypes.delete)</div>

            @if (Model.GetSettingBool("saved"))
            {
                <i class='fas fa-save w3-right simplisity_fadeout' style="font-size:24px"></i>
            }

        </div>

        <div id="articledatasection" class="">
            <div class='w3-row'>
                <div class='w3-threequarter w3-padding'>
                    <div class="w3-quarter w3-padding">
                        <label>@ResourceKey("RC.ref")</label>
                        @TextBox(info, "genxml/textbox/articleref", " class='w3-input w3-border' autocomplete='off' ", "", false, 0)
                    </div>
                    <div class="w3-threequarter w3-padding">
                        <label>@ResourceKey("RC.name")</label>&nbsp;@EditFlag(sessionParams)
                        @TextBox(info, "genxml/lang/genxml/textbox/articlename", " class='w3-input w3-border' autocomplete='off' ", "", false, 0)
                    </div>
                    <div class="w3-row w3-padding">
                        @EditFlag(sessionParams)
                        @EditorQuill(info, "genxml/lang/genxml/textbox/articlerichtext", "style='min-height:200px;width:100%'", "", true)
                    </div>
                </div>
                <div class='w3-quarter w3-padding'>
                    <h3>@ResourceKey("RC.categories")</h3>
                    @RenderTemplate("ArticleCategoryList.cshtml", appThemeSystem, Model, true)
                    @RenderTemplate("ArticleCategorySelect.cshtml", appThemeSystem, Model, true)
                </div>
            </div>
        </div>

        <div>
            @if (UserUtils.IsInRole("Administrator"))
            {
                <div class="w3-container">
                    <div class="w3-right">
                        @RenderXml(info)
                    </div>
                </div>
            }
            <i>ID: </i> @info.ItemID <i> GuidKey:</i> @info.GUIDKey
        </div>

    </div>

</div>

<script>
    $(document).ready(function () {

        $('#articlekeywords').tagEditor({
            delimiter: ', ', /* space and comma */
            placeholder: '@ResourceKey("RE.keywords") ...',
            removeDuplicates: false,
        });

        rcadmin.moveToTop('#articleeditmodal');
    });

</script>
