@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

@{
    var categoryDataList = (CategoryLimpetList)Model.GetDataObject("categorydatalist");
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var selectedcolor = "";
    var portalCatalog = new PortalCatalogLimpet(categoryDataList.PortalId, categoryDataList.CultureCode);
}

<div class="w3-bar-block w3-theme-l4">
    <a href="@sessionParams.PageUrl" class="w3-bar-item w3-button w3-theme">
        @ResourceKey("RC.all")
    </a>

    <table class="categorytree">
        @foreach (var categoryData in categoryDataList.GetCategoryTree())
        {
            selectedcolor = "";
            var toplevelclass = "";
            if (sessionParams.GetInt("catid") == categoryData.CategoryId)
            {
                selectedcolor = "w3-theme";
            }
            else
            {
                if (categoryData.Level == 0)
                {
                    toplevelclass = "catlevel1";
                }
            }

            var parentclass = "";
            if (categoryData.ParentItemId > 0)
            {
                parentclass = "treegrid-parent-" + categoryData.ParentItemId;
            }
            <tr class="treegrid-@(categoryData.CategoryId)  @(parentclass) " >
                <td>
                    <a href="@categoryData.CategoryUrl(sessionParams)" class="">@categoryData.Name</a>
                </td>
            </tr>
        }
    </table>

</div>

<script>

    $(document).ready(function () {

    });

</script>
