@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

@{
    var articleData = (ArticleLimpet)Model.List.First();
    var categoryDataList = (CategoryLimpetList)Model.GetDataObject("categorydatalist");

    // We need the moduleid, the first remote call will have the moduleid, subsequent call need to have the remote module passed by the s-field
    var moduleId = Model.ModuleId;

    var logoRelPath = articleData.LogoRelPath;
    if (articleData.LogoRelPath == "")
    {
        logoRelPath = "/DesktopModules/DNNrocket/api/images/noimage2.png";
    }

}

@RenderTemplate("SearchBanner.cshtml", articleData.PortalCatalog.AppTheme, Model)



<div class="w3-row">
    <div class="w3-quarter w3-padding-small">
        @RenderTemplate("CategorySideMenu.cshtml", articleData.PortalCatalog.AppTheme, Model)
    </div>
    <div class="w3-threequarter w3-padding-small">

        <div class="w3-button w3-theme-action" onclick="$('.triggersearch').trigger('click');">@ButtonText(ButtonTypes.back)</div>

        <div class="w3-container">
            @HtmlOf(articleData.RichText)
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {
        activatedocumentready('@(articleData.PortalCatalog.EngineUrlWithProtocol)');
    });

    function onImgClick(element) {
        document.getElementById("img01").src = element.src;
        $('#modal01summary').html(element.title);
        document.getElementById("modal01").style.display = "block";
    }

</script>
