@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

@{
    var moduleRef = Model.ModuleRef;
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var portalData = (PortalCatalogLimpet)Model.GetDataObject("portaldata");
    var categoryData = new CategoryLimpet(portalData.PortalId, sessionParams.GetInt("catid"), sessionParams.CultureCode);
}

<div class="searchdata w3-white">
    <input id="catid" type="hidden" value="" class="simplisity_sessionfield" />

    <div class="w3-row w3-padding">
        <div class="w3-half">
            <div class="w3-bar">
                @TextBox(new SimplisityInfo(), "genxml/textbox/searchtext", "class='w3-bar-item w3-input w3-border simplisity_sessionfield actionentrykey' autocomplete='off' style='' ")
                <span class="w3-bar-item w3-button w3-left w3-border-red w3-deep-orange clearsearch " onclick="$('#catid').val('0');$('#searchtext').val(''); $('.triggersearch').trigger('click');" style="height: 40px; display: none;" s-fields=''>@ButtonIcon(ButtonTypes.cancelsearch)</span>
                <span class="w3-bar-item w3-button w3-left w3-border simplisity_click dosearch" onclick="$('#catid').val('0'); $('.triggersearch').trigger('click');" style="height:40px;">@ButtonIcon(ButtonTypes.search)</span>
            </div>
        </div>
        <div class="w3-half">
            @{
                var orderbyDictionary = new Dictionary<string, string>();
                foreach (var orderbyInfo in portalData.GetProductOrderByList())
                {
                    orderbyDictionary.Add(orderbyInfo.GetXmlProperty("genxml/key"), ResourceKey("RC." + orderbyInfo.GetXmlProperty("genxml/key"), sessionParams.CultureCode).ToString());
                }
                <div class="w3-bar-item w3-right w3-hide-small w3-margin-left">
                    @DropDownList(new SimplisityInfo(), "genxml/hidden/pagesize", "8,16,32,64,128", "8,16,32,64,128", "class='w3-input w3-border simplisity_sessionfield ' onchange=\"$('.triggersearch').trigger('click');\" title='" + @ResourceKey("DNNrocket.pagesize", sessionParams.CultureCode) + "'", "32")
                </div>
                <div class="w3-bar-item w3-right w3-hide-small w3-margin-left">
                    @if (sessionParams.GetInt("catid") == 0)
                    {
                        <span>
                            @DropDownList(new SimplisityInfo(), "genxml/hidden/orderbyref", orderbyDictionary, "class='w3-input w3-border simplisity_sessionfield ' onchange=\"$('.triggersearch').trigger('click');\"", "")
                        </span>
                    }
                </div>
            }
        </div>
    </div>
</div>

<!-- Element to trigger simplisity call from JS event -->
<span class="w3-hide simplisity_click triggersearch" s-sessionfield='#searchtext,#pagesize,#catid,#orderbyref' s-cmd="rocketcatalog_public" s-post=".searchdata" s-return='#catalog-tag' s-fields=''></span>

<script>

    $(document).ready(function () {


    });

</script>

