@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")


@{
    var moduleRef = Model.ModuleRef;
    var sessionParams = Model.SessionParamsData;
}

<div>

    <div class="w3-bar searchdata w3-padding">
        <div class="w3-bar-item w3-col m2 w3-right w3-hide-small w3-margin-left w3-right" style="width: 100px">
            @DropDownList(new SimplisityInfo(), "genxml/hidden/pagesize", "8,16,32,64,128", "8,16,32,64,128", "class='w3-input w3-border w3-light-grey simplisity_sessionfield simplisity_change ' s-before='sendRemoteParams" + moduleRef + "' s-systemkey='rocketcatalog' s-sessionfield='#searchtext,#pagesize,#orderbyref' s-return='#simplisitymodulewrapper" + moduleRef + "'  s-cmd='rocketcatalog_public' s-post='.searchdata'  s-fields='{\"systemkey\":\"rocketcatalog\"}' title='" + @ResourceKey("DNNrocket.pagesize", sessionParams.CultureCode) + "'", "32")
        </div>
        <div class="w3-bar-item  w3-right" style=''>
            <div class="w3-bar">
                @TextBox(new SimplisityInfo(), "genxml/textbox/searchtext", "class='w3-bar-item w3-input w3-border w3-light-grey simplisity_sessionfield actionentrykey' autocomplete='off' ")
                <span class="w3-bar-item w3-button w3-theme-d3 clearsearch " style="display:none;" s-fields=''>@ButtonText(ButtonTypes.cancelsearch)</span>
                <span class="w3-bar-item w3-button dosearch" onclick="$('#searchcategoryid').val('0'); $('.triggersearch').trigger('click');">@ButtonText(ButtonTypes.search)</span>
            </div>
        </div>
    </div>
    <input id="searchcategoryid" type="hidden" value="" class="simplisity_sessionfield" />

    <!-- Element to trigger simplisity call from JS event -->
    <span class="w3-hide simplisity_click triggersearch" s-sessionfield='#searchtext,#pagesize,#searchcategoryid,#page' s-cmd="rocketcatalog_public" s-post=".searchdata" s-return='#simplisitymodulewrapper@(moduleRef)' s-fields='{"systemkey":"rocketcatalog"}'></span>

</div>
