@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

<!-- !PAGE CONTENT! -->
<div id="catalog-tag" class="catalog-container">

    @{

        var sessionParams = (SessionParams)Model.SessionParamsData;

        PortalCatalogLimpet portalCatalog = null;
        var productData = (ArticleLimpet)Model.GetDataObject("articledata");
        if (productData != null)
        {
            portalCatalog = productData.PortalCatalog;
            @RenderTemplate("ViewDetail.cshtml", portalCatalog.AppTheme, Model, true)
        }
        else
        {
            var productDataList = (ArticleLimpetList)Model.GetDataObject("articlelist");
            portalCatalog = productDataList.PortalCatalog;
            @RenderTemplate("ViewList.cshtml", portalCatalog.AppTheme, Model, true)
        }
        @AddProcessData("resourcepath", "/DesktopModules/RocketThemes/" + portalCatalog.AppTheme.AppThemeFolder + "/" + portalCatalog.AppTheme.AppVersionFolder + "/resx/")
    }

</div>

<script>
    $(document).ready(function () {
    });
</script>
