@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

@{
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var categoryDataList = (CategoryLimpetList)Model.GetDataObject("categorydatalist");
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var portalCatalog = new PortalCatalogLimpet(categoryDataList.PortalId, categoryDataList.CultureCode);
    var categoryData = new CategoryLimpet(portalCatalog.PortalId, sessionParams.GetInt("searchcategoryid"), sessionParams.CultureCode);
    var moduleRef = Model.ModuleRef;

    var productListUrl = sessionParams.PageUrl;

}

@RenderTemplate("SearchBanner.cshtml", articleData.PortalCatalog.AppTheme, Model)

<div class="w3-row">
    <div class="w3-quarter w3-padding-small">
        @RenderTemplate("CategorySideMenu.cshtml", articleData.PortalCatalog.AppTheme, Model)
    </div>
    <div class="w3-threequarter w3-padding-small">

        <button type="button" href="@productListUrl" class="w3-button w3-theme-action w3-right simplisity_click" s-cmd="rocketcatalog_public" s-return='#catalog-tag' s-fields='{"systemkey":"rocketcatalog"}'>@ButtonText(ButtonTypes.back, sessionParams.CultureCode)</button>

        <div class="w3-container">
            @HtmlOf(articleData.RichText)
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {
        simplisitypanelcatalogtag();
    });

</script>
