@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

@{
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var portalCatalog = new PortalCatalogLimpet(articleData.PortalId, articleData.CultureCode);
    var categoryData = new CategoryLimpet(portalCatalog.PortalId, sessionParams.GetInt("catid"), sessionParams.CultureCode);
    var moduleRef = Model.ModuleRef;
}

@RenderTemplate("SearchBanner.cshtml", articleData.PortalCatalog.AppTheme, Model)

<div class="w3-row">
    <div class="w3-quarter w3-padding-small">
        @RenderTemplate("CategorySideMenu.cshtml", articleData.PortalCatalog.AppTheme, Model)
    </div>
    <div class="w3-threequarter w3-padding-small">

        <a href="@categoryData.CategoryUrl(sessionParams)" class="w3-button w3-theme-action w3-right">@ButtonText(ButtonTypes.back, sessionParams.CultureCode)</a>

        <div class="w3-container">
            @HtmlOf(articleData.RichText)
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {
        simplisitypanelcatalogtag();
    });

</script>
